body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  padding: 5px;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons button,
.auth-buttons a {
  margin-left: 10px;
  padding: auto;
  background-color: #040404;
  color: #ffffff;
  border: 1px solid #000;
  cursor: pointer;
  text-decoration: none;
}

.auth-buttons .sell {
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
}
.address-edit-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f61;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.update-button:hover {
  background-color: #ff3b2f;
}