body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

img {
  width: 90%;
}

.search-form {
  flex-grow: 1;
}
input {
  width: 80%;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button,
.auth-buttons a {
  background-color: #080808;
  color: #f8f8f8;
  border: 1px solid #000;
  cursor: pointer;
  text-decoration: none;

  text-align: center;
  display: inline-block;
}

.auth-buttons .sell {
  background-color: #fff;
  color: #050505;
  border: 1px solid #000;
}

.auth-buttons form {
  display: inline;
}

main {
  padding: 20px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}

.tab.active {
  color: red;
  border-bottom: 2px solid red;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: 160px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(108, 88, 88, 0.1);
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.item-details {
  padding: 10px;
}

.item-details p {
  margin: 5px 0;
}

.tab.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.no-results {
  display: none;
}

@media (max-width: 760px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-form {
    width: 100%;
    margin-top: 10px;
  }

  .auth-buttons {
    width: 100%;
    justify-content: space-between;
  }

  .auth-buttons a,
  .auth-buttons button {
    width: 30%;

    margin-left: 0;
  }

  .tabs {
    flex-direction: column;
  }

  .tab {
    width: 100%;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .items {
    flex-direction: column;
    align-items: center;
  }

  .item {
    width: 90%;
    max-width: 300px;
  }
}
