body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  font-size: 24px;
}

header .auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-buttons button,
.auth-buttons a {
  margin-left: 10px;
  padding: auto;
  background-color: #040404;
  color: #ffffff;
  border: 1px solid #000;
  cursor: pointer;
  text-decoration: none;
}

.auth-buttons .sell {
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: nowrap;
  /* 横並びに設定 */
  max-width: 100%;
  box-sizing: border-box;
}

.item-image {
  width: 50%;
  /* 画像を50%幅に設定 */
  max-width: 500px;
  text-align: center;
  padding: 7%;
  box-sizing: border-box;
}

.item-image img {
  max-width: 100%;
  border: 1px solid #ddd;
}

.item-details {
  width: 50%;
  /* 商品詳細も50%幅に設定 */
  padding: 0 20px;
  box-sizing: border-box;
}

.item-details h1 {
  font-size: 24px;
  margin: 0 0 10px;
}

.item-details .brand {
  font-size: 18px;
  color: #555;
}

.item-details .price {
  font-size: 20px;
  color: #e74c3c;
  margin: 10px 0;
}

.actions {
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.actions .favorite-count,
.actions .comment-count {
  margin-right: 20px;
}

.actions .buy-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.description,
.additional-info {
  margin: 20px 0;
}

.description h2,
.additional-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.description p,
.additional-info p {
  margin: 5px 0;
}

@media (max-width: 760px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header .auth-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  header .auth-buttons a,
  header .auth-buttons button {
    margin: 5px 0;
  }

  .item-container {
    flex-direction: column;
    padding: 10px;
  }

  .item-image,
  .item-details {
    width: 100%;
    max-width: none;
  }

  .item-details {
    padding: 10px 0;
  }

  .actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .actions .favorite-count,
  .actions .comment-count {
    margin: 10px 0;
  }
}