body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
}

.logo {
  font-size: 24px;
}

.search-bar {
  width: 300px;
  padding: 5px;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons button,
.auth-buttons a {
  margin-left: 10px;
  padding: auto;
  background-color: #040404;
  color: #ffffff;
  border: 1px solid #000;
  cursor: pointer;
  text-decoration: none;
}

.auth-buttons .sell {
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.purchase-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.purchase-details,
.purchase-summary {
  border: 1px solid #ffffff;
  padding: 20px;
  width: 300px;
}
.purchase-summary{

  border: 1px solid #1e1e1e;
}
.item-info {
  display: flex;
  gap: 10px;
}

.item-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.purchase-options {
  margin-top: 20px;
}

.purchase-options .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.purchase-options .option select {
  display: none;
}

.purchase-summary table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.purchase-summary th,
.purchase-summary td {
  padding: 10px;
  text-align: left;
}

.buy-button {
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 760px) {
  .purchase-container {
    flex-direction: column;
    align-items: center;
  }

  .purchase-details,
  .purchase-summary {
    width: 100%;
  }
}