body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}
.page {
  background-color: #000;
  margin-top: 5px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}


.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons button,
.auth-buttons a {
  margin-left: 10px;
  padding: auto;
  background-color: #040404;
  color: #ffffff;
  border: 1px solid #000;
  cursor: pointer;
  text-decoration: none;
}

.auth-buttons .sell {
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
}

main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.category-tag {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
}

.category-tag span {
  cursor: pointer;
  margin-left: 5px;
  color: red;
}

.image-preview img {
  max-width: 150px;
  max-height: 150px;
}


@media (max-width: 760px) {
  .comment-container {
    flex-direction: column;
  }

  .left-column {
    margin-bottom: 20px;
  }
}